{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Auth{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {{ block.super }}
    <style>
        .table {
            --falcon-table-active-bg: rgba(70, 130, 180, 1);
            --falcon-table-active-color: white;
        }
        .tablestriped {
        }
        .tablestriped>tbody>tr:nth-child(even){
            background-color: rgba(245, 245, 245, 1.0);
        }
        .table>:not(caption)>*>* {
            padding: 0 0.75rem;
            background-color: var(--falcon-table-bg);
            border-bottom-width: 1px;
            -webkit-box-shadow: inset 0 0 0 9999px var(--falcon-table-accent-bg);
            box-shadow: inset 0 0 0 9999px var(--falcon-table-accent-bg);
        }
        .table-input {
            width: 70%;
            border: 0;
            background-color: transparent;
            color: inherit;
        }
        .table-input:focus {
            outline: none;
        }
        .table-menu {
            width: 100px;
            border: 0;
            background-color: transparent;
            color: inherit;
        }
        .table-check {
            text-align: center;
        }
        .table-bg {
            background-color: rgba(255, 255, 255, 1.0);
            border: 1px solid black;
        }
        .table-thead {
            background-color: rgba(224, 224, 224, 0.8);
            text-align: center;
        }
        .table-td {
            width: 30%;
            text-align: center;
        }
        .table-scroll {
            width: 100%;
            height: 600px;
            overflow: auto;
        }
        .maptr {

        }
        .nametd {
            width: 202px;
            padding-left: 20px;
        }
        .boxtd {
            text-align: center;
        }
        .boxtd > input {
            width: 17px;
            height: 17px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body position-relative">
            <div class="row" style="overflow: hidden">
                <div class="col-lg-9 col-md-8 col-sm-7">
                    <h3>권한관리</h3>
                </div>
                <div class="btn-div col-lg-3 col-md-4 col-sm-5">
{#                    <button class="btn btn-outline-primary" type="button">업로드</button>#}
{#                    <button class="btn btn-outline-primary" type="button">다운로드</button>#}
                </div>
            </div>
        </div>
    </div>

    <div class="" style="position: relative;">
        <div style="width: 380px;">
            <div class="card mb-3 group-table">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto flex-lg-grow-1 flex-lg-basis-0 align-self-center" style="overflow: hidden;">
                            <h5 class="mb-0" data-anchor="data-anchor" style="display: inline-block; float: left;">직책</h5>
                            <div class="btn-div" style="float: left;">
                                <button type="button" class="btn-sm btn-falcon-primary" data-id="role" onclick="insertRole();">+ 추가</button>
                                <button type="button" class="btn-sm btn-falcon-primary" data-id="role" onclick="roleChange();">수정</button>
                                <button type="button" class="btn-sm btn-falcon-default" data-id="role" id="role_save" onclick="roleCreate();">저장</button>
                            </div>
                            <div class="btn-div" style="float: right;">
                                <button type="button" class="btn-sm btn-falcon-danger" data-id="role" onclick="deleteRole();">x 삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-9e80409e-49e0-4986-9fcb-16b9838d0cff" id="dom-9e80409e-49e0-4986-9fcb-16b9838d0cff">
                            <div class="table-bg">
                                <div style="height: 600px;">
                                    <form action="{% url 'masterdata:auth' %}" method="POST">
                                        <table class="table tablestriped overflow-hidden" id="name-table">
                                            <thead>
                                            <tr class="btn-reveal-trigger table-thead" data-id="off">
                                                <th class="align-middle white-space-nowrap">
                                                    <div class="form-check mb-0">
                                                        <input class="form-check-input" type="checkbox" id="name_all"/>
                                                    </div>
                                                </th>
                                                <th scope="col">코드</th>
                                                <th scope="col">직책명</th>
                                            </tr>
                                            </thead>
                                            <tbody id="name_start" data-id="0">
                                            {% for one in rolelist %}
                                                <tr class="btn-reveal-trigger nameTr" data-id="{{ one.id }}">
                                                    <td class="align-middle white-space-nowrap" style="padding-left: 1.25rem;">
                                                        <div class="form-check mb-0">
                                                            <input class="form-check-input nameChk" type="checkbox" data-id="{{ one.id }}" name="roleName"/>
                                                        </div>
                                                    </td>
                                                    <td class="table-td"><input class="table-input" type="text" value="{{ one.code }}" disabled/></td>
                                                    <td><input class="table-input" type="text" id="roleName_{{ one.id }}" value="{{ one.name }}" disabled/></td>
                                                </tr>
                                            {% empty %}
                                                <tr class="btn-reveal-trigger" data-id="off">
                                                    <td colspan="3" style="text-align: center;" class="deleteone">등록된 정보가 없습니다</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-left: 50px; position: absolute; top: 0; left: 400px; min-width: 800px;">
            <div class="card mb-3 group-table">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto flex-lg-grow-1 flex-lg-basis-0 align-self-center" style="overflow: hidden;">
                            <h5 class="mb-0" data-anchor="data-anchor" style="display: inline-block; float: left;">권한</h5>
                            <div class="btn-div" style="float: right;">
                                <button type="button" class="btn-sm btn-falcon-default" data-id="auth" id="auth_save" onclick="updateAuth();">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-12 tab-content" style="overflow: auto;">
                            <div class="tab-pane preview-tab-pane active">
                                <div class="table-bg">
                                    <div class="table-scroll">
                                        <table class="table tablestriped overflow-hidden" id="auth-table">
                                            <thead>
                                            <tr class="btn-reveal-trigger table-thead" data-id="off">
                                                <th>메뉴</th>
                                                {% for one in authlist %}
                                                    <th class="authcount">{{ one.name }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody id="auth_start" data-id="0">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'jsmeta/masterdata/script_auth.js' %}"></script>
    <script>

    </script>
{% endblock javascripts %}